{% extends "base_template.html" %}
{% block title %}{{ _('Accueil') }}{% endblock %}
{% block content %}
<div class="container">
  {% for section in sections %} {% if section.catalog %}
  <div class="my-5">
    <h2>{{ section.title }}</h2>
    {% if section.description %}
    <p class="text-muted">{{ section.description | safe }}</p>
    {% endif %}
    <form action="{{ url_for('custom_validator') }}" method="GET">
      <div class="form-row">
        <div class="form-group col-lg-9">
          <select required name="schema_name" class="form-control">
            <option disabled selected value="">{{ _('Choisissez un schéma') }}</option>
            {% for item in section.catalog %}
            <option {%if item.err%}disabled{%endif%}
              value="{{ section.name }}.{{ item.name }}"
              >{{ item.title }}</option
            >
            {% endfor %}
          </select>
        </div>
        <div class="form-group col-lg-3">
          <button type="submit" class="btn btn-primary">
            {{ _('Valider un fichier') }}
          </button>
        </div>
      </div>
    </form>
  </div>
  {% elif section.err %}
  <div class="my-5">
    <h2>{{ section.title }}</h2>
    {% if section.description %}
    <p class="text-muted">{{ section.description | safe }}</p>
    {% endif %}
    <div class="alert alert-danger" role="alert">
      {{ _('Catalogue indisponible') }}: {{ section.err | safe }}
    </div>
  </div>
  {% endif %} {% endfor %}

  <div class="my-5">
    <h2>{{ _('Schéma à la carte') }}</h2>
    <p class="text-muted">
      {{ _("Indiquez ici l'URL d'un schéma que vous souhaitez utiliser pour valider un fichier.") }}
    </p>
    <form
      action="{{ url_for('custom_validator') }}"
      data-cy="custom_schema_form"
      method="GET"
    >
      <div class="form-row">
        <div class="form-group col-lg-9">
          <input
            name="schema_url"
            type="url"
            class="form-control"
            id="schema_url"
            aria-describedby="urlHelpBlock"
            placeholder="https://example.com/schema.json"
            required
          />
          <small id="urlHelpBlock" class="form-text text-muted">
            {{ _('Le schéma doit être au format') }}
            <a
              href="https://specs.frictionlessdata.io/table-schema/"
              target="_blank"
              >Table Schema</a
            >.
          </small>
        </div>
        <div class="form-group col-lg-3">
          <button type="submit" class="btn btn-primary">
            {{ _('Valider un fichier') }}
          </button>
        </div>
      </div>
    </form>
  </div>

  {% for section in sections %} {% if section.links %}
  <div class="my-5">
    <h2>{{ section.title }}</h2>
    {% if section.description %}
    <p class="text-muted">{{ section.description }}</p>
    {% endif %}
    <div class="row my-4">
      {% for item in section.links %}
      <div class="col-sm-4 mb-4">
        <div class="card h-100">
          <div class="card-body d-flex flex-column">
            <h4 class="card-title">{{ item.title }}</h4>
            <p class="card-text">{{ item.description }}</p>
            <a
              href="{{ item.website }}"
              target="_blank"
              class="btn btn-outline-secondary mt-auto"
              >{{ _('Utiliser') }}
              <i class="fas fa-external-link-alt ml-1"></i>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %} {% endfor %}
  {% block page_scripts %}
  <style>
  /* Error message display */
  .btn-xs {
    padding: .25rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;
  }
  #exception_info {
    padding-top: 1.3em;
    padding-bottom: 0;
    margin-bottom: 0;
  }
</style>
  {% endblock %}
</div>
{% endblock %}
