{% extends "base_template.html" %}

{% import 'schema_info_macros.html' as schema_info_macros %}
{% import 'validation_macros.html' as macros %}

{% block title %}{{ section_title }} – {{ schema_info.title }}{% endblock %}

{% block head %}
{{ super() }}
<style>
  #table-errors td h2 {
    font-size: 1em;
    font-weight: bold;
  }
  ul.structure_errors li p {
      margin-bottom: 0;
  }

  @media print {
    .hidden-print {
      display: none;
    }
  }
</style>
{% endblock %}

{% block content %}
<div class="container">

    <p class="text-muted">{{ _('Validation effectuée') }} {{ validation_date }}</p>


    <div class="row my-4">
        {# Schema info #}
        <div class="col-lg-6 mb-4">
            <div class="card">
                <div class="card-body">
                    {{ schema_info_macros.html(schema_info, None, None, schema_current_version, doc_url) }}
                </div>
            </div>
        </div>
        {# Validation stats #}
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">
                        {{ _('Fichier') }}
                        {% if report.stats.errors == 0 %}
                            {% if report.stats.warnings != 0 %}partiellement{% endif %}
                            {{ _('valide' ) }}
                        {% else %}
                            {{ _('invalide') }}
                        {% endif %}
                    </h2>

                    {% if display_badge %}
                    <p><img src="{{ badge_url }}" alt="{{ badge_msg }}" /></p>
                    {% endif %}

                    <p>
                        <code>
                        {% if resource.type == 'file' %}
                            {{ resource.filename }}
                        {% elif resource.type == 'url' %}
                            <a href="{{resource.url}}" target="_blank">{{resource.filename}}</a>
                        {% endif %}
                        </code>
                        ({{ report.stats.fields }} colonnes × {{ report.stats.rows }} lignes)
                    </p>

                    {% if report.stats.warnings != 0 %}
                    <p>
                        {% if report.stats.warnings == 1 %}
                        {{ _('1 recommandation') }}
                        {% else %}
                        {{ report.warn_count }} {{ _('recommandations') }}
                        {% endif %}
                    </p>
                    {% endif %}

                    {% if report.stats.errors == 0 %}
                    <p>{{ _('Aucune erreur détectée') }}</p>
                    {% else %}
                    {{ macros.error_statistics(report) }}
                    <p>
                        {% set error_count = report.stats.errors %}
                        {{ _('Total') }} :
                        {% if error_count == 1 %}
                        {{ _('1 erreur détectée') }}
                        {% else %}
                        {{ error_count }} {{ _('erreurs détectées') }}
                        {% endif %}
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


{% if report.stats.warnings != 0 %}
<div class="mx-4 info">
    <h3 class="my-4">{{ _('Recommandations') }}</h3>
    <p>{{ _("Afin d'assurer la conformité optimale de vos données par rapport au schéma, merci de prendre en compte les recommandations ci-dessous") }} :</p>
    <ul>
    {% for warn in report.warnings %}
        <li>{{ warn | commonmark2html | safe}}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}


{% if report.structure_errors %}
<div class="mx-4">
    <h3 class="my-4">{{ _('Erreurs de structure') }} ({{ report.error_stats['structure-errors']['count']}})</h3>
    <ul>
        {% for err in report.structure_errors %}
            <li>{{ err.message | commonmark2html | safe}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{# Display body errors #}
<div class="mx-4">
    <h3 class="my-4">
    {% if report.body_errors %}
        {% set value_errors = report.error_stats['body-errors'] %}
        Erreurs de contenu ({{ value_errors['count'] }} sur {{ value_errors['rows-count'] }} ligne{% if value_errors['rows-count'] > 1 %}s{% endif %})
    {% else %}
        {% if report.structure_errors %}
            {{ _('Aucune erreur de contenu') }}
        {% else %}
            {{ _('Aucune erreur détectée') }}
        {% endif %}
    {% endif %}
    </h3>
    <p>Prévisualisation du fichier source
    {% if not report.body_errors %}
     (affichage de {{ source_data.preview_rows_count }}
            ligne{% if source_data.preview_rows_count > 1 %}s{% endif %}
            sur {{ source_data.rows_nb }} au total)
    {% endif %}
    </p>
    {% if report.body_errors %}
    {{ macros.body_errors(report, source_data, print_mode) }}
    {% else %}
    {{ macros.preview(report, source_data) }}
    {% endif %}
</div>
{% endblock %}

{% block page_scripts %}
<script src="{{ url_for('static', filename='validata_popover.js') }}"></script>
{% endblock %}
